<!DOCTYPE html>
<html>
<head>
  <title>SurveyBuilder</title>
  <%= stylesheet_link_tag    "survey_builder/application", media: "all" %>
  <%= javascript_include_tag "survey_builder/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
